.form__header {
    color: #40916c;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    margin: 0px 10px;
    padding: 1px;
}

.form__special {
    font-family: 'Comforter Brush', cursive;
    font-size: 40px;
    font-weight: 500;
}

.form__fieldset {
    background-color: #ffffff;
    border: none;
}

.form__labelText {
    text-align: left;
    display: inline-block;
    max-width: 80px;
    width: 100%;
}

.form__field {
    border: 2px solid #40916c;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 260px;
    margin: 10px 10px 0px 0px;
}

.form__button {
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #40916c;
    cursor: pointer;
    background-color: #40916c;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: #000000 1px 1px 2px;
    font-weight: bold;
    margin: 10px 0px 0px;
    box-shadow: #000000 1px 2px 5px;
}

.form__button:hover {
    background-color: #67b99a;
}